<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds" debug="false">

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${catalina.home}/logs/showcase/showcase.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${catalina.home}/logs/showcase/showcase.%d.log.gz</FileNamePattern>
			<MaxHistory>60</MaxHistory>
		</rollingPolicy>

		<encoder>
			<pattern>%d [%thread{1}] %-5level %logger{35} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>DEBUG</level>
		</filter>
	</appender>

	<logger name="ru.mpain" level="DEBUG" />

	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root>
</configuration>
